# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs\
*.sqlite
.vs/endlessChaos/v16/.suo
.vs/endlessChaos/v16/.suo
*.sqlite
.vs/VSWorkspaceState.json
bundleV2/9a0ba06bf7233901.mod_bundle
bundleV2/endlessChaos.mod
